<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hotel Booking App</title>
    <link rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}"/>
    <script type="text/javascript" src="/static/angular.min.js" th:src="@{angular.min.js}"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/bookings.controller.js" th:src="@{app/bookings.controller.js}"></script>
</head>
<body ng-app="app" ng-controller="BookingController as vm">
<header>
    <nav class="navbar navbar-default" style="background-color: #f0ad4e">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="a">AutoStore Demo</a>
            </div>
            <p class="navbar-text navbar-right" th:text="'Signed in as ' + ${username}" style="margin-right: 10px">Signed in as Anonymous</p>
        </div>
    </nav>
</header>


<div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="btn-group" role="group">
                <button id= "all_button" ng-click="vm.getAll()" type="button" class="btn btn-default">All</button>
                <button id= "aff_button" ng-click="vm.getAffordable()" type="button" class="btn btn-default">Affordable</button>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>Hotel</th>
                    <th>Nights</th>
                    <th>Price per Night</th>
                    <th>Number of Nights</th>
                    <th style="width:90px"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="bookings in vm.bookings">
                    <td id="id{{$index}}">{{bookings.id}}</td>
                    <td id="hotelName{{$index}}">{{bookings.hotelName}}</td>
                    <td id="pricePerNight{{$index}}">{{bookings.pricePerNight}}</td>
                    <td id="nbOfNights{{$index}}">{{bookings.nbOfNights}}</td>
                    <td>
                        <button id="delete_button" class="btn btn-danger" ng-click="vm.deleteBooking(booking.id)">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer" style="position:absolute; bottom:0;background-color: #f0ad4e">
        <div class="container">
            <p th:text="${datetime}" class="text-muted">Page was rendered today!</p>
        </div>

    </footer>
</div>
</body>
</html>